select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}

html, body{
  height: 100%;
}
body {
			background-image: url(https://www.uuoobe.kr/data/file/photo3/1880701967_7FeVYoH4_EC8B9CECB9B4EAB3A0EC9D98_ED9598EB8A98EC9790EC849C_EBB094EB9DBC_EBB3B8_EC95BCEAB2BD.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;

}

div, body{
  margin: 0;
  padding: 0;
  font-family: exo, sans-serif;

}
.wrapper {
  height: 100%;
  width: 100%;
}
